.messagelist_container {
    border: 2px solid #3378ae;
    border-radius: 5px;
    width:96%;
    height: 98%;
}

.message-list {
    height: 70%;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #0078ae;
    border-radius: 5px;
}

.input-area {
    background: #0078ae;
    box-shadow: inset 0 0 10px #00568c;
}

.text-field {
    border: 1px solid grey;
    padding: 0.2em;
    box-shadow: 0 0 5px #000000;
}
