.messagelist_container {
    border: 2px solid #3378ae;
    border-radius: 5px;
    width:96%;
    height: 98%;
    margin-top:1%;
}

.message-list {
    height: 98%;
    width: 98%;
    resize: none;
    box-sizing: border-box;
    margin-top: 1%;
}
