
<div class="container" id="login_container">
  <div class="title">
    <div align="center">登录{$T}</div>
  </div>
  <div class="normal">
    <div align="center">用户名：
      <input class="text-field" type="text"></input>
    </div>
  </div>
  <div class="normal">
    <div align="center">密码：
      <input class="text-field" type="password"></input>
    </div>
  </div>
  <div class="normal" align="center">
   <input id="loginButton" type="button" class="button button-glow button-border button-rounded button-primary" value="登录"/>
  </div>
</div>

<script>
    window.uicontroller.login.init("hello");
</script>
